<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .red {color: red; border-style: solid; border-color: red;}
      .blue {color: blue;}
      .green {color: green; border-style: solid; border-color: green;}
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller='LunchCheckController'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" class="form-control" ng-model="lunchinput">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="process()">{{buttontext}}</button> Not counting , , or ,, as valid input<br>
         </div>
         <div class="form-group message {{color}} {{border}}">
           <!-- Your message can go here. -->
           {{output}}
         </div>
         {{optionalout}}
   </div>

</body>
</html>
